.grey_border {
  border: 10px solid #8492A6;
  margin-bottom: 1rem;
}

.list-none {
  list-style: none;
  padding: 0;
}

.list-none li {
  padding: 4px;
  cursor: pointer;
}

.transaction_history li {
    font-size: 10px;
    cursor: default;
}

.show {
  display: block !important;
}

i {
  margin-right: .5rem;
}

.image3{
  height: 100px;
  width: 100px;
  margin-left: 110px;
  margin-bottom: -80px;
  margin-top: 50px;
}

.image4{
  height: 100px;
  width: 100px;
  margin-left: 130px;
  margin-bottom: -80px;
}


.font30 {
  font-size: 30px;
}

.btn-dark {
  background-color: #47525F !important;
  width: 195px;
  padding: 10px;
  font-size: 13px;
}

.bell_position {
    position: absolute;
    top: 0;
}

.active {
  background: dodgerblue;
  color: #fff;
}

.custom_block h4 {
  height: 20vh;
}

.transaction_history {
  height: 400px;
}

.transaction_details {
  height: 250px;
}

.upload_certificate{
  height: 210px;
}

.journey{
  height: 200px;
}

.ajax-loader {
    position: absolute;
    left: 37%;
    top: 40%;
    width: 100%;
    z-index: 999;
    font-size: 50px;
}

.redStyle{
    color: red;
}

@media (min-width: 768px) {
.transaction_block.col-md-4 {
      -ms-flex: 0 0 39.333333%;
      flex: 0 0 39.333333%;
      max-width: 39.333333%;
  }
}

@media (min-width: 576px) {
  .custom_receive.col-sm-6 {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    margin-right: .75rem !important;
  }
}
